<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    
    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title | escape }}">
      </div>
    {% endif %}
    
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    
    {% include page__meta.html type=include.type %}
    
    {% assign description = post.description | default: post.excerpt %}
    {% if description %}
      <p class="archive__item-excerpt" itemprop="description">{{ description | markdownify | strip_html | truncate: 160 }}</p>
    {% endif %}
    
  </article>
</div>
