{% assign category = page.categories[0] %}
{% assign category_url = '/categories/' | append: category | replace: '//', '/' %}

<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>

    {% if category %}
      <span class="sep">/</span>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ category_url | relative_url }}" itemprop="item">
          <span itemprop="name">{{ category | capitalize }}</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
    {% endif %}

    <span class="sep">/</span>
    <li class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">{{ page.title }}</span>
      <meta itemprop="position" content="3" />
    </li>
  </ol>
</nav>
