<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <!-- Home -->
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <span class="sep">/</span>

    {% if page.layout == 'category' %}
      
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="name" style="color: inherit; text-decoration: none; cursor: default; font-weight: normal;">
          Categories
        </span>
        <meta itemprop="position" content="2" />
      </li>
      <span class="sep">/</span>
      
      <li class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        {{ page.title }}
        <meta itemprop="position" content="3" />
      </li>
    {% else %}
      <!-- Для всех остальных страниц (например, пост) -->
      <li class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        {{ page.title }}
        <meta itemprop="position" content="2" />
      </li>
    {% endif %}
  </ol>
</nav>
