{% if page.categories and page.categories.size > 0 %}
  <p class="page__taxonomy">
    <strong>
      <i class="fas fa-fw fa-folder-open" aria-hidden="true"></i>
      {{ site.data.ui-text[site.locale].categories_label | default: "Categories:" }}
    </strong>
    <span itemprop="keywords">
      {% for category in page.categories %}
        <a href="/categories/{{ category | slugify }}/" class="page__taxonomy-item p-category" rel="tag">{{ category }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
      {% endfor %}
    </span>
  </p>
{% endif %}
