<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title }}</a>.</div>

<!--noindex-->
<div style="pointer-events: none;">
  <img id="licnt452F" width="88" height="15" style="border:0"
       src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" />
</div>
<script>
(function(d, s) {
  d.getElementById("licnt452F").src =
    "https://counter.yadro.ru/hit?t26.4;r" + escape(d.referrer) +
    ((typeof(s) == "undefined") ? "" : ";s" + s.width + "*" + s.height + "*" +
    (s.colorDepth ? s.colorDepth : s.pixelDepth)) +
    ";u" + escape(d.URL) +
    ";h" + escape(d.title.substring(0, 150)) +
    ";" + Math.random();
})(document, screen);
</script>
<!--/noindex-->
