{% assign category_base = site.category_archive.path | default: '/categories/' %}

{% unless category_base == '/' %}
  {% unless category_base ends_with '/' %}
    {% assign category_base = category_base | append: '/' %}
  {% endunless %}
{% endunless %}

{% if page.categories %}
  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-folder-open" aria-hidden="true"></i> Categories:</strong>
    <span itemprop="keywords">
      {% for cat in page.categories %}
        <a href="{{ category_base | append: cat | slugify | append: '/' | relative_url }}"
           class="page__taxonomy-item p-category" rel="tag">{{ cat }}</a>
        {% unless forloop.last %}<span class="sep">, </span>{% endunless %}
      {% endfor %}
    </span>
  </p>
{% endif %}
