{% assign related_posts = include.posts | where_exp: "post", "post.hidden != true" %}
{% assign sorted_posts = related_posts | sort: 'date' %}
{% assign shuffled_posts = sorted_posts | sort: 'content' %}

<div class="page__related">
  {% include before-related.html %}
  <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
  <div class="grid__wrapper">
    {% assign count = 0 %}
    {% for post in shuffled_posts %}
      {% if post.id == page.id %}{% continue %}{% endif %}
      {% include archive-single.html type="grid" hide_category=true %}
      {% assign count = count | plus: 1 %}
      {% if count == 4 %}{% break %}{% endif %}
    {% endfor %}
  </div>
</div>
