{% assign document = post | default: page %}
{% if document.read_time or document.date %}
  <p class="page__meta" style="display: flex; flex-wrap: wrap; align-items: center; gap: 1em;">

    {% if document.read_time %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}
      <span class="page__meta-readtime" style="white-space: nowrap;">
        <i class="far fa-clock" aria-hidden="true"></i>
        {% if words < words_per_minute %}
          Less than 1 minute read
        {% elsif words == words_per_minute %}
          1 minute read
        {% else %}
          {{ words | divided_by: words_per_minute }} minute read
        {% endif %}
      </span>
    {% endif %}

    {% if document.date %}
      <span class="page__meta-date" style="white-space: nowrap;">
        <i class="far fa-calendar-alt" aria-hidden="true"></i>
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        <time datetime="{{ document.date | date_to_xmlschema }}">{{ document.date | date: date_format }}</time>
      </span>
    {% endif %}

    {% if document.categories %}
      <span class="page__meta-category" style="white-space: nowrap;">
        <i class="fas fa-folder-open" aria-hidden="true"></i>
        {{ document.categories[0] }}
      </span>
    {% endif %}

  </p>
{% endif %}
