{% assign tag_base = site.tag_archive.path %}
{%- if tag_base and tag_base != '' -%}
  {%- unless tag_base endswith '/' -%}
    {% assign tag_base = tag_base | append: '/' %}
  {%- endunless -%}
{%- else -%}
  {% assign tag_base = '/tags/' %}
{%- endif %}

{% assign tags_sorted = page.tags | sort_natural %}

{% if tags_sorted %}
  <p class="page__taxonomy">
    <strong>
      <i class="fas fa-fw fa-tags" aria-hidden="true"></i>
      {{ site.data.ui-text[site.locale].tags_label | default: "Tags:" }}
    </strong>
    <span itemprop="keywords">
      {% for tag_word in tags_sorted %}
        <a href="{{ tag_base | append: tag_word | slugify | append: '/' | relative_url }}"
           class="page__taxonomy-item p-category"
           rel="tag">{{ tag_word }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
      {% endfor %}
    </span>
  </p>
{% endif %}
