---
layout: archive
---

{% capture page_title %}
  {{ page.title | default: page.taxonomy | capitalize }}
{% endcapture %}

{% if page.description %}
  <div class="archive-intro">
    <h1>{{ page_title }}</h1>
    <p>{{ page.description }}</p>
  </div>
{% else %}
  <header class="page__header">
    <h1>{{ page_title }}</h1>
  </header>
{% endif %}

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>
