---
layout: archive
---

{%- assign current_category = page.title | downcase -%}
{%- assign posts_in_category = site.posts | where_exp: "post", "post.categories contains current_category" -%}

<header class="page__header">
  <h1 class="page__title">{{ page.pretty_title | default: page.title }}</h1>
  {% if page.description %}
    <p class="page__description">{{ page.description }}</p>
  {% endif %}
</header>

<div class="entries-list">
  {% if posts_in_category.size > 0 %}
    {% for post in posts_in_category %}
      {% include archive-single.html type="list" %}
    {% endfor %}
  {% else %}
    <p><em>No posts found in this category.</em></p>
  {% endif %}
</div>
